body {
    background-image: url("/resources/winter.jpg");
}

/* audio {
    margin-top: 400px;
    display: flex;
    flex-wrap: wrap;
} */

.heading {
    font-family: "game_of_thronesregular";
    text-align: center;
    text-decoration: underline;
}

.center-banner {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(31, 99, 216, 0.5);;
}

.container {
    display: inline-flex;
}

.card1 {
    margin-left: 85px;
}

.card2 {

    margin-left: 100px;
}
.card3 {
    margin-left: 100px;
}

.char-title {
    font-family: "game_of_thronesregular";
}

.house-title {
    font-family: "game_of_thronesregular";
}

.book-title {
        font-family: "game_of_thronesregular";
    }

button {
    font-family: "game_of_thronesregular";
    cursor: pointer;
}